

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
/* defining project variables */


:root {
    font-size: 10px;
    --text-color: #353535;
    --primary-color: #F22E14;
    --bg-color: #ffffff;
    --color: rgba(53, 53, 53, 0.80); 
    --second-bg: #F9F8F8;
    --title-font: 'Montserrat', sans-serif;
    --text-font: 'Inter', sans-serif;
    --stroke: .5px #D9D9D9 solid;
    --test: #00FF00;
  }
  
/* initializing project */

html {
 margin: 0;
 padding: 0;
 border: none;
 box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
max-width: 100vw;
overflow-x: hidden;
}

/* navbar styling */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    height: 8rem;
    font-family: var(--text-font);
}

.navigation__logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.navigation__logo > img {
    width: 14rem;
}

.navigation__items {
    flex: 3;
}

.navigation__button {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navigation__items__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation__items__list > li > a { 
    text-decoration: none;
    color: var(--text-color);
}

.navigation__button > a {
    text-decoration: none;
    border: var(--stroke);
    padding: 1rem 2rem 1rem 2rem ;
    background-color: var(--primary-color);
    font-size: bold;
    color: var(--bg-color);
    border-radius: 2rem;
}

.navigation__mobile_menu {
    display: none;
}

@media only screen and (max-width: 900px) {
    .navigation {
        font-size: 1.6rem;
        background-color: #D9D9D9;
    }

    .navigation__logo > img {
        width: 10rem;
    }
 
    .navigation__button > a {
        padding: .5rem 1rem .5rem 1rem ;
    }
}

@media only screen and (max-width: 600px) {
    .navigation__items, .navigation__button {
        display: none;
    }
    
    .navigation__mobile_menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-right: 2rem;
    }
}

/* starting the baner section  */
